name: Detect secrets

on:
  push:
  pull_request:

jobs:
  detect-secrets:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install detect-secrets
        run: |
          python -m pip install --upgrade pip
          pip install detect-secrets
      - name: Run detect-secrets action
        uses: Yelp/detect-secrets-action@v1
        with:
          baseline: .secrets.baseline
